<div class="title"><b>{{ character.name }}</b></div>

<div class="character-info character-content">
    <div class="row">
          <div class="col">
              <div class="character-avatar">
                  <img src="/assets/images/rogue_avatar.jpg"/>
              </div>
          </div>
          <div class="col">
              <TableOfContents @title="{{ position.map }} ({{ position.x }}, {{ position.y }})" @content={{ character.meta }}/>
          </div>
    </div>
</div>

<div class="character-content character-extended-details">
  <div class="row">
    <div class="col">
      <div class="avatar"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <TableOfContents @title="Attributes" @content={{ attributes }}/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <TableOfContents @title="Skills" @content={{ skills }}/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <TableOfContents @title="Inventory" @content={{ inventory}}/>
    </div>
  </div>
</div>
