<div class="title"><b>{{ character.name }} ({{ position.map }}, {{ position.x }}, {{ position.y }})</b></div>
<div class="row">
    <div class="avatar"/>
    <div class="col">
        <TableOfContents @title="Attributes" @content={{ attributes }}/>
    </div>
    <div class="col">
        <TableOfContents @title="Skills" @content={{ skills }}/>
    </div>
</div>
<div class="row">
    <div class="col">
        <TableOfContents @title="Inventory" @content={{ inventory}}/>
    </div>
</div>
