<div class="title"><b>{{ character.name }} ({{ position.map }}, {{ position.x }}, {{ position.y }})</b></div>
<div class="row">
    <div class="avatar"/>
</div>
<TableOfContents @title="Attributes" @content={{ attributes }}/>
<TableOfContents @title="Skills" @content={{ skills }}/>
<TableOfContents @title="Inventory" @content={{ inventory}}/>